@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto', 'Open Sans',sans-serif;
  }
  
body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px hsl(273, 85%, 36%);
}

body::-webkit-slider-thumb{
  background-color: darkgrey;
  outline: 1px solid hsl(273, 85%, 36%);
}
  
  #topbar {
    background: linear-gradient(to left, #650eac, #9198e5);
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
    z-index: 1000;
  }
  
 #topbar a {
  color: #000;
}
  ul {
    display: flex;
    padding: 1rem 0;
  }
  
  :is(nav, li, a) {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 8px;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://cdn.pixabay.com/photo/2016/11/22/19/15/hand-1850120_960_720.jpg");
    background-size: cover;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
  }
  
  #contact {
    scroll-snap-type: y proximity;
    height: 100vh;
    width: 100%;
    background-color: #122;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .info-card {
    padding-top: 10rem;
    background-color: white;
    border-radius: 0.5em;
    position: relative;
    padding-right: 1em;
    padding-left: 2.5%;
    padding-top: 2.5%;
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    justify-content: center;
    transform: translate(0%, 70%);
  }
  .info-card h3,p{
     display: flex;
     justify-content: center;
  }

  .profile img {
    max-width: 200px;
    border-radius: 50%;
    border:  solid 8px white;
    position: absolute;
    transform: translate(35%, -100%);
  }

  .social {
    display: flex;
    position: relative;
    transform: translateY(170%);
  }



  .key-pad {
    border: solid 1px black;
    background-color: rgba(25, 25, 25, .6);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 5em 5em 2em;
  }
  
  .keys {
    display: grid;
    grid-template-columns: repeat(3, 2em);
    grid-template-rows: repeat(3, 2em);
    grid-gap: 4.25em;
  }
  
  .key {
    display: flex;
    opacity: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
    background-color: rgba(25,25,25,0.8);
    width: 5em;
    height: 5em;
    color: aliceblue;
    transition: all 0.3s;
  }

  .key h5 {
        font-size: .78em;
  }
  

  .key:hover {
    cursor: pointer;
  }

  .playing {
    border:solid 3px #650eac;
    box-shadow: 0 0 15px #650eac;
    transform: scale(1);
  }

  .playing h5 {
    color: #650eac;
    font-weight: bolder;
    transform: scale(1);
  }